h3 {
  font-family: Arial;
  text-align: center;
  margin: 25px;
}
.main {
  box-sizing: border-box;
  margin-top: 150px;
  text-align: center;
  justify-content:center;
  width:100%;
  padding: 10px;
  margin:150px auto auto ;
}

.login-text {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding:0px 12px 5px;
}

.input-wrapper {
  text-align: center;
}
input {
  height: 20px;
  width: 30%;
  padding: 10px 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  vertical-align: center;
  color: #AEAEAE;
}


.pass {

  padding: 10px 20px;

  display: block;


}

button {
  margin: 5px;
  border:none;
  font-family: Arial;
  min-width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
}

button:hover {
  background: #b0e0e6;
  border: black;

}

#loginButton:disabled {
  background: #f8f9f9;

}


