h3 {
  font-family: Arial;
  text-align: center;
  margin: 25px;
}

.chatroom-top {
  box-sizing: border-box;
  margin-top: 100px;
  text-align: center;
  justify-content:center;
  width:100%;
  padding: 10px;
  margin:150px auto auto ;
}


.main {
  box-sizing: border-box;
}

.left-side {
  height: 600px;
  background-color: #d9dfdc;
  float: left;
  padding: 0;
  border: solid #868d8a;
  border-width: 1px;
  overflow-y:auto ;
}

.right-side {
  height: 600px;
  background-color: #f2f4f3;
  float: left;
  position: relative;
  padding: 0;
  border: solid #868d8a;
  border-width: 1px;
  border-left: none;
  box-sizing: border-box;
  overflow-y: auto;
}

.left-top {
  background-color: #f8f9f9;
  height: 40px;
}

.right-top {
  background-color: #f8f9f9;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.send-message {
  background-color: #f8f9f9;
  height: 30px;
  bottom: auto;
  border: grey solid 1px;
  border-top: none;
  vertical-align: center;
}

.message-input {
  height: 20px;
  width: 97%;
  border: none;
  border-width: 1px;
  border-radius: 5px;
  font-size: 12px;
  background-color: #c0cac6;
  padding-left: 10px;
  padding-right: 10px;
}

.message-input:focus {
  border: solid 1px #868d8a ;
}

.message-input-div {
  display: flex;
  float: left;
  height: 30px;
  text-align: center;
  justify-content: left;
  align-items: center;
  width: 80;
}

.send-button {
  margin: 5px;
  border:gray 1px solid;
  font-family: Arial;
  min-width: 80%;
  height: 20px;
  border-radius: 5px;
  font-size: 12px;
  top: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: grey;


}


.send-button:disabled {
  background-color:#E2EBEB ;
  border: none;
}

.send-button:focus {
  background-color:#cae2e5 ;
}


.send-button-div {
  float: left;
  display: inline-flex;
  justify-content: center;
}
.sender-name {
  color: grey;
  font-family: Arial;

}

.chats {
  font-size: 14px;
  height: 40px;
  background-color: #f8f9f9;
  border:none ;
  border-bottom:1px grey solid;
  display: flex;
  justify-content: center;
  line-height: 40px;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.chats:focus {
  background-color: #cae2e5;
}

.chats-name {
  font-family: Arial;
  color: grey;
}


.sent-message {
  background-color:  #f59999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 30px;
  margin-left:95%;
  margin-top: 15px;
  margin-bottom: 15px;

}

.accepted-message {
  background-color:#cae2e5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 30px;
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 15px;

}

.messaging-space {
  max-height: 600px;
}
